
<div class = "container">
    <div class = "row"></div>
    <div class = "row">
        <div class = "col col-md-2"> </div>
        <div class= "col col-md-8 text-center">
            <h1>We're Sorry Your Ship has Sunk!</h1>
            <img src= "https://4.bp.blogspot.com/-g0J8BDgGV9o/XFTtiLp840I/AAAAAAALuWg/su-FMx96_dAV5kZQedPSmrWSIKwFEiapACLcBGAs/s1600/AW3302902_00.gif" loop=infinite>
        </div>
        <div class = "col col-md-2"> </div>
    </div>
    <div class = "row text-center"></div>
</div>