/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
 @import "bootstrap";
/* html,
// body {
//     height: 100%;
//  }*/
 /*.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }*/

 body{
    font-family: 'Chilanka', cursive;
    
    
 }


 a {
    color: #bb7579;
  }

//  h1{
//      font-family: 'Chilanka', cursive;
//      color: #000000;
//      background-color: #f0bec0;
//      border: 1px solid;
//      padding: 10px;
//      box-shadow: 2px 10px #888888;
//      width:80%;
//      margin:25px auto;
//      border-radius: 20%;
     
//  }


 .menu-bar button{
     width:45vw;
     display: inline-block;
 }