<div class = "container" style= "margin-top: 5%">
    <div class = "row text-center">
        <div class = "col col-md-2"> </div>
        <div class = "col col-md-8"><h1>

            <h1> Create a New Memory</h1>


            <h2>Don't forget a picture is worth a thousand words!</h2>
            <%= button_to "Upload a picture", new_picture_path, method: :get %>

            <%= render "form" %>
