
<div class = "container">
    <div class = "row"></div>
    <div class = "row">
        <div class = "col col-md-2"> </div>
        <div class= "col col-md-8 text-center">
            <h1>We're Sorry Your Ship has Sunk!</h1>
            <img src= "https://i.pinimg.com/originals/86/5f/1c/865f1c977c2083c42cda7c223f72ea76.gif" loop=infinite>
        </div>
        <div class = "col col-md-2"> </div>
    </div>
    <div class = "row text-center"></div>
</div>